
html, body {
	margin: 0;
	padding: 0;
}

html {
	background-color: #f0f0f0;
	scroll-behavior: smooth;
}

header{
	width:auto;
	height:100px;
	margin-left:auto;
	margin-right:auto;
	background-color: #333333;
	display:flex;
	align-items: center;
	justify-content: center;
}

h1{
	font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
	font-size: 18px;
	font-weight: normal;
	color: #e6e6e6;
	text-align: center;
}