body{
    font-family: Helvetica, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #444;
    background: #eee;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 410px;
    /* Form outline */
    padding: 1em;
}

form li + li {
    margin-top: 1em;
  }

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    font-size: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-bottom: 20px;
}

input, textarea {
    /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
    font: 1em Courier;

    /* Match form field borders */
    border: 1px solid #999;
}

input{
    padding: 5px;
}

textarea{
    border-radius: 6px;
    padding: 12px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 48px;
    text-transform: capitalize;
    flex-wrap: nowrap;
    padding-right: 48px;
}

.submit {
    background-color: #ffc477;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    border: 2px solid #eeb44f;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 18px;
    padding: 14px 17px;
    text-decoration: none;
    text-shadow: 0px 1px 1px #cc9f52;
  }
  
  .submit:hover {
    background-color: coral;
    border: 2px solid rgb(216, 91, 46);
  }